.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  overflow: hidden;
}

#authorization {
  background-image: url("../img/fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.authorization {
  display: none;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.authorization .error-message {
  display: flex;
  justify-content: center;
  visibility: hidden;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin-bottom: 10px;
}
.authorization .error-message span {
  background: radial-gradient(rgba(44, 99, 105, 0.2), rgba(44, 99, 105, 0.4));
  border: 1px solid #2C6369;
  padding: 5px 50px;
  border-radius: 30px;
  color: #D5FAF0;
}
.authorization-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.authorization-container__logo-container {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: -57px;
  z-index: 3;
}
.authorization-container__logo-background {
  display: flex;
  width: 115px;
  height: 115px;
  border-radius: 100px;
  background: #2C6369;
  justify-content: center;
  align-items: center;
}
.authorization-container__logo-background img {
  width: 80px;
  height: 69px;
}
.authorization-container__block {
  display: flex;
}
.authorization-container__block-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2C6369;
  width: 520px;
  height: 600px;
  border-radius: 10px 0 0 10px;
  box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.3);
}
.authorization-container__block-one .block-one__title {
  color: #D5FAF0;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-weight: 600;
}
.authorization-container__block-one .block-one__text {
  color: #A2D6CA;
  font-size: 16px;
  text-align: center;
}
.authorization-container__block-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgba(44, 99, 105, 0.21), rgba(44, 99, 105, 0.4));
  width: 518px;
  height: 596px;
  border-radius: 0 10px 10px 0;
  border: 2px solid rgba(44, 99, 105, 0.3);
  border-left: none;
  box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.3);
}
.authorization-container__block-two .block-two__container-form {
  margin-top: 118px;
}
.authorization-container__block-two .block-two__container-form form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.authorization-container__block-two .block-two__container-form form input {
  width: 315px;
  height: 51px;
  background: rgba(0, 0, 0, 0);
  border: none;
  border: 1px solid #D5FAF0;
  border-radius: 30px;
  padding: 3px 15px 0;
  color: #D5FAF0;
}
.authorization-container__block-two .block-two__container-form form input::-moz-placeholder {
  color: rgba(213, 250, 240, 0.3);
  font-size: 20px;
}
.authorization-container__block-two .block-two__container-form form input::placeholder {
  color: rgba(213, 250, 240, 0.3);
  font-size: 20px;
}
.authorization-container__block-two .block-two__container-form form input[type=text], .authorization-container__block-two .block-two__container-form form input[type=password] {
  outline: none;
  transition: transform 0.3s ease;
}
.authorization-container__block-two .block-two__container-form form input[type=text]:hover {
  box-shadow: 0 0 0 0.5px #D5FAF0;
}
.authorization-container__block-two .block-two__container-form form input[type=text]:focus {
  box-shadow: 0 0 0 1px #D5FAF0;
}
.authorization-container__block-two .block-two__container-form form input[type=button] {
  background: #2C6369;
  border: none;
  width: 315px;
  height: 59px;
  font-size: 24px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.authorization-container__block-two .block-two__container-form form input[type=button]:hover {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.authorization-container__block-two .block-two__container-form form input[type=button]:active {
  box-shadow: inset 4px 4px 15px rgba(0, 0, 0, 0.6);
}
.authorization-container__block-two .block-two__container-form p {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: #D5FAF0;
  margin: 0 0 20px;
}
.authorization-container__block-two .block-two__container-text {
  position: relative;
  display: flex;
}
.authorization-container__block-two .block-two__container-text p {
  color: #A2D6CA;
  text-align: center;
  margin-top: 118px;
}

.btn {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn:active {
  box-shadow: inset 4px 4px 15px rgba(0, 0, 0, 0.6);
}

.cap {
  display: flex;
  width: 100%;
  height: 100px;
  background: #66A8A6;
  justify-content: space-between;
  align-items: center;
  color: #D5FAF0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.cap .nav-menu {
  display: flex;
  list-style: none;
  font-size: 24px;
  gap: 46px;
}
.cap .nav-menu .page {
  cursor: pointer;
}
.cap .cap-space {
  width: 250px;
}
.cap .cap-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.cap .cap-container__log-out {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 240px;
  height: 100%;
  background: #66A8A6;
}

.container__notifications {
  box-sizing: border-box;
  overflow-y: auto;
  transform: 1s;
  position: absolute;
  right: 0;
  top: 100px;
  z-index: 87;
  max-width: 630px;
  width: 100%;
  max-height: 400px;
  height: 0;
  background: #75C1BF;
  color: #fff;
  transition: max-height 0.5s ease;
  border-radius: 0 0 10px 10px;
}
.container__notifications table {
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  padding: 10px;
}
.container__notifications table tr {
  border-bottom: 2px solid #A2D6CA;
}
.container__notifications table td {
  padding: 10px;
  font-size: 20px;
}
.container__notifications table td:last-child {
  display: flex;
  justify-content: end;
  align-items: start;
}
.container__notifications table img {
  width: 15px;
  height: 15px;
}
.container__notifications table .notifications-date {
  font-size: 14px;
  padding: 10px 5px;
}

.container__exit {
  box-sizing: border-box;
  overflow-y: auto;
  transition: 0.5s;
  position: absolute;
  right: 0;
  top: 100px;
  z-index: 87;
  max-width: 240px;
  width: 100%;
  max-height: 400px;
  height: 0px;
  background: #75C1BF;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 10px;
  font-size: 20px;
}
.container__exit span {
  padding: 30px 20px;
  transform: 1s;
}

#error-message__user,
#error-message__product {
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  left: calc(78% - 500px);
  display: none;
  padding: 15px 30px;
  border-radius: 30px;
  width: 500px;
  justify-content: center;
  background: #75C1BF;
}

.gebrid-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  width: 133px;
  height: 100%;
  background: #21484D;
  align-items: center;
  z-index: 99;
  transition: width 0.5s;
  overflow: hidden;
}
.gebrid-menu__logo {
  width: 73px;
  height: 62px;
}
.gebrid-menu__close {
  display: none;
  cursor: pointer;
}
.gebrid-menu__container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 27px 0 27px;
  margin-bottom: 0;
}
.gebrid-menu__form-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 1080px;
  height: 100%;
  gap: 35px;
}
.gebrid-menu__form-container .form__add-product {
  display: none;
}
.gebrid-menu__form-container .form__add-product .provider-add {
  display: none;
}
.gebrid-menu__form-container .form__add-user {
  display: none;
}
.gebrid-menu__form-container .form__add-user .input-group:last-child {
  margin-top: 35px;
}
.gebrid-menu__form-container .form__add-user .input-group__group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gebrid-menu__form-container .form__add-user .bg-role {
  box-sizing: border-box;
  border: none;
  border: 1px solid #66A8A6;
  width: 340px;
  height: 144px;
  border-radius: 30px;
  margin-left: -15px;
  margin-top: 11px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 25px;
  background: #fff;
}
.gebrid-menu__form-container .form__add-user .bg-role label {
  color: #2C6369;
}
.gebrid-menu__form-container .form__add-user .bg-role div {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.gebrid-menu__form-container .form__add-user .bg-role input {
  width: 21px;
  height: 21px;
  margin: 0;
  padding: 0;
}
.gebrid-menu__form-container .form-title {
  color: #ffffff;
  font-size: 32px;
  display: none;
  margin-bottom: 20px;
}
.gebrid-menu__form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 715px;
}
.gebrid-menu__form-container form label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #fff;
  padding-left: 15px;
  position: relative;
}
.gebrid-menu__form-container form input,
.gebrid-menu__form-container form select {
  position: relative;
  box-sizing: border-box;
  outline: none;
  width: 340px;
  height: 45px;
  border: none;
  border: 1px solid #66A8A6;
  border-radius: 30px;
  margin-left: -15px;
  margin-top: 11px;
  padding: 10px 20px;
  color: #2C6369;
  resize: none;
}
.gebrid-menu__form-container form .textarea-wrapper {
  display: flex;
  align-items: center;
  margin-top: 14px;
  box-sizing: border-box;
  position: relative;
  background: #ffffff;
  width: 715px;
  height: 138px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 30px;
}
.gebrid-menu__form-container form .textarea-wrapper #addproduct-form__description {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 20px 0 20px;
  position: relative;
  height: calc(100% - 20px);
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  margin-right: 5px;
}
.gebrid-menu__form-container form input::-webkit-scrollbar,
.gebrid-menu__form-container form select::-webkit-scrollbar,
.gebrid-menu__form-container form #addproduct-form__description::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}
.gebrid-menu__form-container form input::-webkit-scrollbar-track,
.gebrid-menu__form-container form select::-webkit-scrollbar-track,
.gebrid-menu__form-container form #addproduct-form__description::-webkit-scrollbar-track {
  background: #EBE9E9;
  border-radius: 50px;
}
.gebrid-menu__form-container form input::-webkit-scrollbar-thumb,
.gebrid-menu__form-container form select::-webkit-scrollbar-thumb,
.gebrid-menu__form-container form #addproduct-form__description::-webkit-scrollbar-thumb {
  background: #66A8A6;
  border-radius: 50px;
  height: 10px;
}
.gebrid-menu__form-container form input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #ffffff;
}
.gebrid-menu__form-container form input[type=radio]:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #66A8A6;
}
.gebrid-menu__form-container form fieldset {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  gap: 30px;
  height: 30px;
  margin-top: 7px;
}
.gebrid-menu__form-container form fieldset div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.gebrid-menu__form-container form fieldset div input {
  width: 21px;
  height: 21px;
  padding: 0;
  margin: 0;
}
.gebrid-menu__form-container form fieldset div label {
  padding: 0;
}
.gebrid-menu__form-container form fieldset div label:first-child {
  padding-right: 40px;
}
.gebrid-menu__form-container form fieldset span {
  height: 21px;
}
.gebrid-menu__form-container form .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 88px;
  width: auto;
  height: 63px;
  background: #66A8A6;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
  border: none;
}
.gebrid-menu__form-container form .input-group {
  display: flex;
  gap: 35px;
}
.gebrid-menu__form-container form .input-group__into {
  display: flex;
  gap: 10px;
}
.gebrid-menu__form-container form .input-group__into input {
  width: 165px;
}
.gebrid-menu__form-container form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  max-height: 200px;
  overflow-y: auto;
}
.gebrid-menu__form-container form select option {
  border: 1px solid #66A8A6;
  border-top: 0;
  border-radius: 30px;
  padding: 10px;
  color: #2C6369;
  background-color: #ffffff;
  resize: none;
  cursor: pointer;
}
.gebrid-menu__form-container form select option:hover {
  background: #000;
}
.gebrid-menu__form-container form select::after {
  content: "";
  background-image: url("/icons/strela-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  border-radius: 30px 30px 0 0;
}

.cap-container__notify {
  width: 41px;
  height: 100px;
}

#adduser-form .input-group .btn {
  margin-top: 40px;
}

.ten,
.twenty {
  cursor: pointer;
}

.start-page,
.dood-one,
.dood-two,
.last-page {
  cursor: pointer;
  visibility: hidden;
  pointer-events: none;
}

.now-page {
  pointer-events: none;
  cursor: pointer;
}

.arrow-back,
.arrow-next {
  pointer-events: all;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  border-radius: 8px;
}
.modal-content .container__filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.modal-content .container__filter span {
  font-size: 22px;
}
.modal-content .container__filter div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.modal-content .container__filter div:last-child {
  flex-direction: row;
  margin-bottom: 0;
  gap: 0;
}
.modal-content .container__filter div button {
  width: auto;
  height: auto;
  padding: 5px 50px;
  font-size: 16px;
}
.modal-content .container__filter select {
  width: 250px;
}

img {
  cursor: pointer;
}

.plus,
.minus {
  font-size: 24px;
}

.stock {
  display: flex;
  align-items: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 93;
  transition: width 3s;
}

.wrapp-filter {
  display: flex;
  align-items: center;
}

.receipt-check {
  display: none;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid #66A8A6;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 10px;
  position: relative;
}
.receipt-check:checked + .checkmark {
  background-color: #66A8A6;
  border-color: #66A8A6;
}
.checkmark::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}
.receipt-check:checked + .checkmark::after {
  opacity: 1;
}

.table-position {
  position: relative;
  margin: 53px 83px 0 202px;
}
.table-position .container__btn-search {
  display: flex;
  justify-content: space-between;
}
.table-position .container__btn-search .search-filter {
  display: flex;
  gap: 46px;
}
.table-position .container__btn-search .search-filter .search-container {
  display: flex;
  position: relative;
  height: 63px;
}
.table-position .container__btn-search .search-filter .search-container .search {
  width: 590px;
  height: 63px;
  border: none;
  border: 1px solid #66A8A6;
  border-radius: 30px;
  font-size: 20px;
  padding-right: 60px;
  padding-left: 23px;
  outline: none;
  color: #2C6369;
}
.table-position .container__btn-search .search-filter .search-container .search::-moz-placeholder {
  color: #66A8A6;
  font-size: 20px;
}
.table-position .container__btn-search .search-filter .search-container .search::placeholder {
  color: #66A8A6;
  font-size: 20px;
}
.table-position .container__btn-search .search-filter .search-container input[type=text]:hover {
  box-shadow: 0 0 0 0.5px #66A8A6;
}
.table-position .container__btn-search .search-filter .search-container input[type=text]:focus {
  box-shadow: 0 0 0 1px #66A8A6;
}
.table-position .container__btn-search .search-filter .search-container button {
  border: none;
  background: rgba(255, 255, 255, 0);
  position: absolute;
  right: 10px;
  top: 15%;
}
.table-position .container__btn-search .add-users {
  display: none;
}
.table-position .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 23px;
  width: auto;
  height: 63px;
  background: #2C6369;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
  border: none;
}
.table-position .container__order-btn {
  display: none;
  justify-content: space-between;
  align-items: center;
}
.table-position .container__order-btn .order-sum {
  font-size: 20px;
  color: #2C6369;
}
.table-position .container__order-btn .order-sum span {
  padding-left: 20px;
}
.table-position .container__order-check {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #2C6369;
}
.table-position .container__order-check .order-check__cap {
  display: flex;
  gap: 30px;
  padding-right: 20px;
}
.table-position .table {
  width: 100%;
  margin-top: 26px;
}
.table-position .table table {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 85vh;
}
.table-position .table table .id,
.table-position .table table .title,
.table-position .table table .description,
.table-position .table table .dosage,
.table-position .table table .supplier,
.table-position .table table .supplier-contact,
.table-position .table table .shelflife,
.table-position .table table .shelf,
.table-position .table table .price,
.table-position .table table .stock,
.table-position .table table .name,
.table-position .table table .role,
.table-position .table table .login,
.table-position .table table .password,
.table-position .table table .phone,
.table-position .table table .data,
.table-position .table table .order,
.table-position .table table .icons,
.table-position .table table .total-amount,
.table-position .table table .order-cap,
.table-position .table table .receipt {
  display: flex;
  justify-content: center;
  white-space: normal;
  text-align: center;
}
.table-position .table table .id {
  width: 80px;
}
.table-position .table table .title {
  width: 230px;
}
.table-position .table table .description {
  max-width: 280px;
  width: 100%;
  display: flex;
}
.table-position .table table .dosage {
  width: 123px;
}
.table-position .table table .supplier {
  width: 144px;
}
.table-position .table table .supplier-contact {
  width: 290px;
}
.table-position .table table .shelflife {
  width: 162px;
}
.table-position .table table .shelf,
.table-position .table table .price {
  width: 105px;
}
.table-position .table table .stock {
  display: flex;
  justify-content: space-evenly;
  width: 115px;
}
.table-position .table table .stock .minus,
.table-position .table table .stock .plus {
  cursor: pointer;
}
.table-position .table table .name {
  width: 300px;
}
.table-position .table table .role {
  width: 240px;
}
.table-position .table table .login {
  width: 210px;
}
.table-position .table table .password {
  width: 190px;
}
.table-position .table table .phone {
  width: 290px;
}
.table-position .table table .data {
  width: 200px;
}
.table-position .table table .order,
.table-position .table table .order-cap {
  width: 310px;
}
.table-position .table table .order {
  cursor: pointer;
}
.table-position .table table .icons {
  width: 95px;
}
.table-position .table table .total-amount {
  width: 220px;
}
.table-position .table table .receipt {
  width: 95px;
}
.table-position .table table thead {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  gap: auto;
  background: #66A8A6;
  border-radius: 10px;
  height: 58px;
  color: #D5FAF0;
}
.table-position .table table thead tr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.table-position .table table tbody {
  height: 70%;
  width: 100%;
  color: #2c6369;
  overflow-y: auto;
  border-radius: 10px;
}
.table-position .table table tbody::-webkit-scrollbar {
  width: 7px;
}
.table-position .table table tbody::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.table-position .table table tbody::-webkit-scrollbar-thumb {
  background: #66A8A6;
  border-radius: 10px;
}
.table-position .table table tbody::-webkit-scrollbar-thumb:hover {
  background: #4a8e8c;
}
.table-position .table table tbody tr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 67px;
  margin-bottom: 10px;
}
.table-position .table table tbody tr:last-child {
  margin-bottom: 0;
}
.table-position .table table tbody tr td:last-child {
  display: flex;
  gap: 20px;
}
.table-position .table table tbody tr:hover {
  background: rgba(102, 168, 166, 0.3);
  border-radius: 10px;
}
.table-position .table table tfoot {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 24px 0 24px;
  align-items: center;
  background: #66A8A6;
  border-radius: 10px;
  height: 58px;
  color: #D5FAF0;
}
.table-position .table table tfoot tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.table-position .table table tfoot td {
  box-sizing: border-box;
  display: flex;
  gap: 7px;
}
.table-position .table table tfoot td:last-child {
  gap: 17px;
}
.table-position .table table tfoot td span:hover {
  font-size: 18px;
}
.table-position .table table tfoot td:nth-child(2) {
  padding-right: 120px;
}

.edit-btn__product,
.delete-btn__product,
.basket-btn__product {
  cursor: pointer;
}

.modal-confirm {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-confirm .modal-content-confirm {
  background-color: #fefefe;
  margin: 15% auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10px;
  font-size: 20px;
}
.modal-confirm .modal-content-confirm h2 {
  margin-top: 20px;
}
.modal-confirm .modal-content-confirm .btn {
  width: auto;
  height: auto;
  padding: 5px 60px;
}
.modal-confirm .modal-content-confirm div {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: space-around;
}

.close-confirm {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-confirm:hover,
.close-confirm:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container__users-table,
.container__cancellation-table,
.container__order-log-table,
.container__order-check {
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}/*# sourceMappingURL=style.css.map */